@model List<SEDC.PizzaApp.Models.Domain.Orders>

<h2>Order List:</h2>

@for (int i = 0; i < Model.Count(); i++) 
{

    <h5>Contact Name: @Model[i].ContactName </h5>
    <h6>Type of Pizza: @Model[i].TypeofPizza</h6>
    <p>Municipality: @Model[i].Municipality</p>
    <p>Phone: @Model[i].Phone</p>
}