@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Pizza Store</h1>
    <img src="https://ae01.alicdn.com/kf/HTB13w_FKpXXXXXVaXXXq6xXFXXXa/Free-Shipping-3D-custom-sushi-letters-mural-borderless-restaurant-pizza-store-coffee-shop-wallpaper-mural.jpg">
</div>
