@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="jumbotron" style="background: rgba(255, 120, 95, 0.6); ">
    <h1 class="display-4" style="color: white; font-weight: bold;">@ViewData["Title"]</h1>
    <p class="lead" style="color: white">Use this page to detail your site's privacy policy.</p>
</div>